:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #a5a5a5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;

}

img {
    max-width: 100%;
    max-height: 100%;
}

header {
    width: 100%;
    height: 100vh;

}

div.navbar {
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

nav.nav-container {
    width: 1352px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2.nav-header {
    color: var(--color-primary);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 32px;
}

.nav-elements {
    color: var(--color-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 3.28px;
    text-align: center;
    height: 100%;
}

a.nav-element {
    display: flex;
    padding: 0 calc(95px / 2);
    height: 100%;
    align-items: center;
}

a.nav-element:hover {
    color: var(--color-black);
    border-bottom: 4px solid #08A6E4;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

h1.main-container {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 49px;

}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    height: calc(50% - 35px);
    flex-direction: column;
    max-width: 100%;
    width: 1352px;


}

p.p-main {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a.a-main {
    width: 440px;
    height: 67px;
    background: var(--color-primary) 0 0 no-repeat;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    border-radius: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;

}

img.main-bg {
    display: flex;
    height: calc(50% - 35px);

}

div.main-container-centring {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*POPULARITY*/

.popularity-container-centring {
    box-shadow: 0 -5px 80px rgba(0, 0, 0, 0.16);
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;


}

.popularity-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

h2.popularity-container {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    max-height: 100%;
    height: initial;


}

.popularity-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    height: 100%;

    flex-direction: column;
    max-width: 100%;
    width: 1352px;
}

article h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

section.options {
    display: flex;
    justify-content: space-between;

    width: 100%;

}

article.popularity-option {
    width: 116px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: relative;
}

article.popularity-option p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: var(--color-grey);
    font-size: 17px;
}

div.popularity-icon {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background: #000;

}

.popularity-icon.icon-redish {
    background: var(--color-redish);
}

.popularity-icon.icon-blueish {
    background: var(--color-primary);
}

.popularity-icon.icon-greenish {
    background: var(--color-green);
}

.popularity-icon.icon-redish::after {
    position: absolute;
    content: "";
    top: 8px;
    width: 52px;
    height: 48px;
    background: url("../assets/Person.svg") no-repeat center/contain;
}

.popularity-icon.icon-blueish::after {
    content: "";
    position: absolute;
    top: 8px;
    width: 52px;
    height: 48px;
    background: url("../assets/Eye.svg") no-repeat center/contain;
}

.popularity-icon.icon-greenish::after {
    position: absolute;
    content: "";
    width: 52px;
    height: 48px;
    top: 8px;
    background: url("../assets/Catalog.svg") no-repeat center/contain;
}

p.popularity-p {
    padding-top: 10px;
}


/*LURE*/


.lure-container-centring {
    box-shadow: 0 -5px 80px rgba(0, 0, 0, 0.16);
    width: 100%;
    height: 1395px;;
    display: flex;
    justify-content: center;
}

.lure-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    height: 100%;
    flex-direction: column;
    max-width: 100%;
    width: 1352px;
}

.lure-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100%;
}

.lure-article-section {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    padding: 20px;
    margin: 38px;
}

.lure-article {
    display: flex;
    height: 370px;
}

h2.lure-h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
}


p.lure-p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

p.lure-p.lure-greenish::after {
    content: "";
    position: absolute;
    border-bottom: 4px solid var(--color-green);
    width: 328px;
    bottom: 70px;
    left: 20px;
}

p.lure-p.lure-redish::after {
    content: "";
    position: absolute;
    border-bottom: 4px solid var(--color-redish);
    width: 328px;
    bottom: 70px;
    left: 20px;
}

p.lure-p.lure-blueish::after {
    content: "";
    position: absolute;
    border-bottom: 4px solid var(--color-primary);
    width: 328px;
    bottom: 70px;
    left: 20px;
}

div.lure-article-section::after{
    position: absolute;
    content: "";
}
img .mac::after{
    position: absolute;
    content: "";

}
